.custom-button {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 26px;
  line-height: 0px;
  text-align: center;
  cursor: pointer;
}

.dot {
  font-size: 35px;
  color: #000;
  -webkit-text-stroke: 1px black;
  margin: 0 5px;
}

.current-dot {
  font-size: 35px;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-text-stroke: 1px black;
}

.custom-column {
  height: 50vh;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: small;
}
